@model NTTMVCMCSDTY.ListTraineevm
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <h2>Trainee Details</h2>
    <div>
        <table style="width:100%" class="tbl table-striped">
            <thead>
                <tr>
                    <th>
                        TraineeID
                    </th>
                    <th>
                        TraineeName
                    </th>
                    <th>
                        Delete Record
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rec in Model.Lst)
                {
                    <tr>
                        <td>
                            @rec.ID
                        </td>
                        <td>
                            @rec.Name
                        </td>
                        <td>
                            <a href="~/Trainee_Details/DeleteTrainee?ID=@rec.ID">Delete</a>
                        </td>
                        <td>
                            <a href="/Trainee_Details/EditTrainee?ID=@rec.ID">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <a href="~/Add_Trainee/Index">Add Trainee</a>
        <br />
        <a href="~/ADMIN_DASHBOARD/Index">Go to Home</a>
    </div>
</body>
</html>
