
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>

    <h2>ADMIN DASHBOARD</h2>
    <h4>Select Tables</h4>
    <div>
        <h3>

            <a href="~/Trainer_Details/Index">Link Trainer Details</a><br /><br />
        </h3>
        <h3>
            <a href="~/Training_Module_Details">Link Training Module Details</a> <br /><br />
        </h3>
        <h3>
            <a href="~/Batch/Index">Link Batch Details</a> <br /><br />
        </h3>
        <h3> <a href="~/Trainee_Details/Index">Link Trainee Details</a><br /><br /></h3>
       

    </div>
</body>
</html>
